*.iml
.gradle/
/local.properties
/.idea/
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/
.tools/
tv.txt
.vscode/
qiyiguo.js
mytvsuper.m3u
dianshi_with_app_sites.json
jsm_with_app_sites.json
dianshi_merged.json
jsm_merged.json
tvbox_cleaned.json
tools/fan.txt
py/__pycache__/
